* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

#box {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;

    span {
        margin: 100px 0;

        img {
            width: 100%;
        }

        #inp {
            width: 100%;
            padding: 15px;
            margin-bottom: 10px;
        }
    }
}

#CONTAINER {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 80px;

    img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }

    
}